techFix/Application/Connected Services/Admin/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ViewItems">
        <s:complexType />
      </s:element>
      <s:element name="ViewItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewQuotations">
        <s:complexType />
      </s:element>
      <s:element name="ViewQuotationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewQuotationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newAmount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteQuotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteQuotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteQuotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ViewItemsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewItems" />
  </wsdl:message>
  <wsdl:message name="ViewItemsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewItemsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateQuotation" />
  </wsdl:message>
  <wsdl:message name="CreateQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="ViewQuotationsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewQuotations" />
  </wsdl:message>
  <wsdl:message name="ViewQuotationsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewQuotationsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuotation" />
  </wsdl:message>
  <wsdl:message name="UpdateQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteQuotationSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteQuotation" />
  </wsdl:message>
  <wsdl:message name="DeleteQuotationSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteQuotationResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="ViewItems">
      <wsdl:input message="tns:ViewItemsSoapIn" />
      <wsdl:output message="tns:ViewItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <wsdl:input message="tns:CreateQuotationSoapIn" />
      <wsdl:output message="tns:CreateQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewQuotations">
      <wsdl:input message="tns:ViewQuotationsSoapIn" />
      <wsdl:output message="tns:ViewQuotationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <wsdl:input message="tns:UpdateQuotationSoapIn" />
      <wsdl:output message="tns:UpdateQuotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuotation">
      <wsdl:input message="tns:DeleteQuotationSoapIn" />
      <wsdl:output message="tns:DeleteQuotationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewItems">
      <soap:operation soapAction="http://tempuri.org/ViewItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <soap:operation soapAction="http://tempuri.org/CreateQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewQuotations">
      <soap:operation soapAction="http://tempuri.org/ViewQuotations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <soap:operation soapAction="http://tempuri.org/UpdateQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuotation">
      <soap:operation soapAction="http://tempuri.org/DeleteQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewItems">
      <soap12:operation soapAction="http://tempuri.org/ViewItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <soap12:operation soapAction="http://tempuri.org/CreateQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewQuotations">
      <soap12:operation soapAction="http://tempuri.org/ViewQuotations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotation">
      <soap12:operation soapAction="http://tempuri.org/UpdateQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuotation">
      <soap12:operation soapAction="http://tempuri.org/DeleteQuotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:51490/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:51490/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>